.wrapper {
  color: rgb(185, 185, 185);
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 30px;
  line-height: 20px;
  li {
    margin: 8px;
  }
  h3 {
    padding-left: 15px;
  }
}
